{
    "$schema": "https://json.schemastore.org/swcrc",
    "jsc": {
        "parser": {
            "syntax": "typescript",
            "tsx": false,
            "decorators": true,
            "dynamicImport": true
        },
        "target": "es2021",
        "baseUrl": "./",
        "transform": {
            "decoratorMetadata": true
        },
        "paths": {
            "@services": ["src/services"]
        }
    },
    "exclude": [
        "node_modules",
        ".git"
    ],
    "module": {
        "type": "commonjs"
    }
}